KLASA {
border:solid;
border-color:red;
margin: 10px auto;
width:400px;
}
KLASA > NAZWA{
font-size:200%;
text-align:center;
font-weight:bold;
font-family:Serif;
}
MODEL{
border: solid;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
padding-left:10px;
border-color:green;
}

MARKA  > NAZWA {
text-align:center;
font-size:120%;
}

MARKA {
border:solid;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
border-color:blue;
}

*{
display:block;
}
