th, td {
    border: 1px solid;
}
th {
    font-weight : bold
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
form{
	border: 1px solid;
}
#map-canvas {
  width: 100%;
  height: 90%;
  border-style: solid;
}
.gm-style-iw {
  text-align: center;
}

.centerBlock {
                display: table;
                margin: 0 auto;
            }