root {
	color:green;
	font-family: serif;
	font-size: 15px;
	width: 50%;
	margin: auto;


}

table {
	font-size: 15px;
	border: solid;
	color: black;
	display: block;
}

tr {
	border: dotted;
	display: block;

}
