extends layout

block content
  h1= title
  p Podaj jakis tekst
  div.loginbox
    form(action="/abc" method="POST")
      p Pierwsza liczba : 
        input(type="number", name="pierwsza")
      p Druga liczba: 
        input(type="number", name="druga")
      p
        input(type="submit",name="abc")
      p
       select
        option(value="+")
      p wynik = #{wynik}
